<h2 class="ui center aligned icon header">
  <i class="circular teal comments icon"></i>
  Message Me
</h2>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui card fluid raised chatbox">
      <div class="content">
        <div class="ui feed" id="message-container">
          <%= render @messages %>
        </div>
      </div>
      <div class="extra content">
        <%= form_for(@message, html: { class:"ui reply form", role: "form" }, url: message_path, remote: true) do |f| %>
          <div class="field">
            <div class="ui fluid transparent icon input">
              <%= f.text_field :body, autocomplete: "off", placeholder: "Type in your message" %>
              <%= f.button '<i class="paper plane icon"></i>'.html_safe, class: "ui icon button teal tiny" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="four wide column">
    <div class="ui card fluid raised chatbox">
      <div class="content">
        <div class="ui vertical menu">
          <a class="teal item">
            User 1
            <div class="ui teal left pointing label">1</div>
          </a>
          <a class="item">
            User 2
            <div class="ui label">51</div>
          </a>
          <a class="item">
            User 3
            <div class="ui label">1</div>
          </a>
          <a class="item">
            User 4
            <div class="ui label">1</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>