@import "semantic-ui";
@import "semantic-ui/collections/menu";

.nav-button {
    background-color: #00B5AD !important;
}

@media only screen and (max-width: 767px) {
    .ui.menu:not(.vertical) .item > .button {
        margin-right: 1rem !important;
    }
}

#nav-item {
    padding: 0.92857143rem 0 0.92857143rem 1.14285714em;
}

#nav-item::before {
    background: white
}

#nav-dropdown::after {
    position: absolute;
    content: '';
    top: 0%;
    right: 0px;
    height: 100%;
    width: 1px;
    background: rgba(34, 36, 38, 0.1);
}

.item.teal:hover,
.item.teal:active {
    color: #00B5AD !important;
}

.item.teal > .ui.left.pointing.label::before {
    content: none;
}

.item.teal:hover > .ui.left.pointing.label,
.item.teal:active > .ui.left.pointing.label,
.item.teal:hover > .ui.left.pointing.label::before,
.item.teal:active > .ui.left.pointing.label::before {
    background: #00B5AD !important;
    content: '';
}

.ui.menu .ui.dropdown .menu > .item:hover,
.ui.menu .ui.dropdown .menu > .item:active {
    color: #00B5AD !important;
}

.ui.menu .item:hover,
.ui.menu .item:active {
    color: #00B5AD;
}

.chatbox {
    height: 440px;
}

.ui.icon.buttons .button, .ui.icon.button {
    padding: 0.78571429rem 1rem 0.78571429rem 0.78571429rem !important;
}

#page-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.ui.center.aligned.header {
    margin-bottom: 2rem;
}

.ui.teal.big.button {
    opacity: 0.45;
}

i.icon.close::before {
    position: relative;
    right: 8px;
    top: 2px;
}

.ui.placeholder.segment {
    min-height: 28rem;
    max-width: 30rem;
}

.ui.segment {
    margin: 1rem auto;
}

.ui.placeholder.segment .column .button, 
.ui.placeholder.segment .column .field, 
.ui.placeholder.segment .column textarea, 
.ui.placeholder.segment .column > .ui.input {
    max-width: 25rem;
    width: 100%;
}

.ui.horizontal.divider {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.ui.error.message.transition {
    max-width: 30rem;
    margin: auto;
}

#messages {
    height: 15em;
    overflow: auto;
}

.ui.icon.header .circular.icon {
    font-size: 1.5em;
}

.ui.menu[class*="bottom fixed"] {
    justify-content: center;
    box-shadow: 0px -1px 2px 0 rgba(34, 36, 38, 0.1);
    height: 4rem;
}

.ui.large.menu {
    height: 4rem;
}

.ui.menu.footer .item {
    color: grey;
}

.ui.menu.footer .item:hover,
.ui.menu.footer .item:active {
    background-color: white;
    color: black;
}


.ui.menu.footer .item::before {    
    content: none;
}

.ui.vertical.menu {
    width: 100%;
}

#users-card {
    background-color: #f1f1f1;
}

@media only screen and (max-width: 767px) {
    .item > .ui.label {
        visibility: hidden;
    }
    .ui.two.column.grid > .four.wide.column {
        padding-left: 0 !important;
    } 
}