@import "semantic-ui";
@import "semantic-ui/collections/menu";

.nav-button {
    background-color: #00B5AD !important;
}

@media only screen and (max-width: 767px) {
    .ui.menu:not(.vertical) .item > .button {
        margin-right: 1rem !important;
    }
}

#nav-item {
    padding: 0.92857143rem 0 0.92857143rem 1.14285714em;
}

#nav-item::before {
    background: white
}

#nav-dropdown::after {
    position: absolute;
    content: '';
    top: 0%;
    right: 0px;
    height: 100%;
    width: 1px;
    background: rgba(34, 36, 38, 0.1);
}

.item.teal:hover,
.item.teal:active {
    color: #00B5AD !important;
}

.ui.menu .ui.dropdown .menu > .item:hover,
.ui.menu .ui.dropdown .menu > .item:active {
    color: #00B5AD !important;
}

.ui.menu .item:hover,
.ui.menu .item:active {
    color: #00B5AD !important;
}

.chatbox {
    height: 450px;
}

.ui.icon.buttons .button, .ui.icon.button {
    padding: 0.78571429rem 1rem 0.78571429rem 0.78571429rem !important;
}

#page-container {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.ui.center.aligned.header {
    margin-bottom: 2rem;
}

.ui.teal.big.button {
    opacity: 0.45;
}

i.icon.close::before {
    position: relative;
    right: 8px;
    top: 2px;
}

.ui.placeholder.segment {
    min-height: 28rem;
    max-width: 30rem;
}

.ui.segment {
    margin: 1rem auto;
}

.ui.placeholder.segment .column .button, .ui.placeholder.segment .column .field, .ui.placeholder.segment .column textarea, .ui.placeholder.segment .column > .ui.input {
    max-width: 25rem;
    width: 100%;
}

.ui.horizontal.divider {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.ui.error.message.transition {
    max-width: 30rem;
    margin: auto;
}

#messages {
    height: 15em;
    overflow: auto;
}