<div class="ui large menu">
  <div class="ui container">
    <%= link_to "Chatroom", root_path, class: "item teal" %>    
    <a class="item teal">
      Messages
    </a>
    <div class="right menu">
      <div class="ui dropdown item teal">
        Account <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item">View account</a>
          <a class="item">Logout</a>
        </div>
      </div>
      <div class="item">
        <%= link_to "Log in", login_path, class: "ui primary button" %>
      </div>
    </div>
  </div>
</div>